.hero {
    position: relative;
    min-height: 700px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  
    &__content {
      margin: 0 700px 0 140px;
  
      a {
        text-decoration: none;
        background-color: #07A159;
        color: #FFF;
        font-size: 16px;
        border-radius: 4px;
        padding: 16px 34px 16px 34px;
      }
    }
  }
  
  .box {
    position: absolute;
    width: 566px;
    height: 182px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 16px 32px 0px rgba(31, 43, 37, 0.10);
  }
  
.footer-container {
  background-color: #F5FAF8;
  padding-top: 90px;
}

@media (max-width: 1280px) {
  .hero__content {
    margin: 0 140px;
  }
}

@media (max-width: 1024px) {
  .hero__content {
    margin: 0 80px;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 500px;

    &__content {
      margin: 0 40px;

      a {
        padding: 12px 24px;
      }
    }
  }

  .box {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .hero__content {
    margin: 0 20px;
  }
}
