.profession {
    background-color: #F5FAF8;
    
    &__explanation {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 172px 239px 90px 239px;
    
        h3 {
            text-align: center;
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    
        p {
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 60px;
            width: 764px;
            line-height: 163.15%;
        }

        img {
            width: 100%;
        }
    }

    &__produced {
        background: linear-gradient(225deg, #244534 0%, #132C1F 100%);
        padding: 60px 140px 120px 140px;

        h3 {
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 38px;
            font-weight: 500;
        }
    }

    &__process {
        padding: 90px 140px 160px 140px;

        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__card {
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 16px 32px 0px rgba(31, 43, 37, 0.10);
                padding: 20px;
                display: flex;
                gap: 20px;
                width: calc(50% - 65px);
                margin-bottom: -20px;
                position: relative;
    
                &__right {
                    align-self: flex-end;

                    .profession__process__content__card__circle {
                        left: -38.5px;
                    }
                }
    
                img {
                    width: 200px;
                    height: 200px;
                }
    
                h5 {
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                }
    
                h4 {
                    color: #1A7849;
                    font-size: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
    
                p {
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 140%;
                }

                &__circle {
                    width: 25px;
                    height: 25px;
                    border-radius: 13px;
                    background-color: #A0DEBF;
                    position: absolute;
                    align-self: center;
                    z-index: 1;
                    right: -36.5px;
                }
            }
    
            &__line {
                width: 2px;
                height: calc(100% - 240px);
                position: absolute;
                top: calc(50% + 10px);
                transform: translate(-50%, -50%);
                background-color: #779184;
                align-self: center;
            }
        }
        
        h3 {
            text-align: center;
            font-size: 38px;
            font-weight: 500;
            margin-bottom: 60px;
        }
    }

    &__cta {
        background: #07A159;
        padding: 80px 140px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
        }

        h4 {
            color: #FFF;
            text-align: center;
            font-family: Lato;
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 32px;
        }

        a {
            text-decoration: none;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.40);
            padding: 16px 30px;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}